/* latin-ext */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Code Pro'), local('SourceCodePro-Regular'), url('../fonts/scp-medium-ext.woff2') format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Code Pro'), local('SourceCodePro-Regular'), url('../fonts/scp-medium.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url('../fonts/playfair-ext.woff2') format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url('../fonts/playfair.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


* {
    margin: 0px;
    padding: 0px;
}

#content sup {
    margin-top: -50px;
    padding-top: 50px;
    z-index: -5;
    font-size:0.8em;
}

#content sup a::before {
    content: "[";
}

#content sup a::after {
    content: "]";
}

h2:before {
    display: block;
    content: " ";
    margin-top: -50px;
    height: 50px;
    visibility: hidden;
}

body {
    background: #fff;
}

nav {
    position: fixed;
    height: 1em;
    padding: 1.0em 12px 1.0em 128px;
    width: 720px;
    background: #37c3ea;
    left: 50%;
    transform: translate(-50%);
    color: #ffffff;
    border-radius: 0 0 1em 1em;
    border-top: none;
    font-family: 'Source Code Pro', monospace;
    z-index: 463165;
}

nav a#elkslogo {
    position: absolute;
    left: 7px;
    top: 8px;
    text-decoration: none;
}

nav a#elkslogo:hover {
    background: transparent;
}

nav a {
    color: #ffffff;
    margin-left:.3em;
    padding:.15em;
}

nav a:hover {
    background: #03A1CE;
}

#content {
    position: absolute;
    padding: 45px 110px 2em 110px;
    left: 50%;
    transform: translate(-50%);
    width: 620px;
    background: #FFFFFF;
    font-family: 'Playfair Display', 'Helvetica', 'Arial', sans-serif;
    border-radius:0 0 1em 1em;
    margin-bottom: 2em;
}

#content a {
    color: #03A1CE;
}

#content tt, code {
    font-family: 'Source Code Pro', monospace;
}

#content code {
    margin: 1em 0 2em 0;
    display: block;
    padding: 1.5em;
    background: #222222;
    color: #FFFFFF;
    font-size: .83em;
    border-radius: 15px;
}

#content #asciinema-elkme-demo {
    margin: 2em 0;
}

#content .asciinema-terminal {
    border-radius: 15px;
    padding: 1.5em;
    font-family: 'Source Code Pro', monospace;
    font-size: .83em;
    color: #FFFFFF;
    background: #222222;
    border-color: #222222;
}

#content .asciinema-terminal .fg-6 {
    color: #FFC335;
}

#content code.output:before {
    content: "Output";
    color: #FF5035 !important;
    font-weight: bold;
    clear: right;
    display: block;
    text-align: center;
    border-bottom: 1px #FF5035 solid;
    margin-bottom: .3em;
}

#content section p:not(:first-child) {
    margin-top: 1.3em;
}

#content section p {
    padding: 0 30px;
    margin-bottom: .3em;
}

#content h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', Helvetica, Arial, serif;
    margin: 2em 0 1em 0;
    text-align: center;
}

#content h1.cmd,h2.cmd,h3.cmd,h4.cmd,h5.cmd,h6.cmd {
    font-family: 'Source Code Pro', monospace;
}

#content h1 {
    margin-top: 2em;
}

#content .cmd::before {
    content: "$ ";
}

#content .cmd.root::before {
    content: "# ";
}

#content .cmd.python::before {
    content: ">>> ";
}

#content code.cmd::before {
    color: #FFC335;
}

#content code .highlight {
    color: #FF5035;
}

#content footer .footnotes {
    margin: 2em 0;
    color: #222;
}

#content footer .footnotes a {
    color: inherit;
}

#content footer li {
    list-style-type: none;
    padding: .2em .5em;
    background: #ededed;
    border-right: 6px #dadada solid;
}

#content footer li:target {
    margin: 0;
    border-color: red;
}

#content footer li:nth-child(even) {
    background: #ffffff;
}

#content .hide-controls .control-bar {
    display: none;
}

